
<ion-content>
    <div class="contenedor">
       
          
            
                
              
             
              
                <div>
              
                  
                    <ion-button color="warning" type="ios" expand="block" href="/">Iniciar sesion</ion-button>
                  
                  
                
                
                  <ion-button color="warning" type="ios" expand="block" href="/registro">Registrarme</ion-button>
                  
                  
                
              
            </div>
              
            
     
  </div>
    
    
</ion-content>
