<ion-grid>
    <ion-row>
        <ion-col>
            <app-carrito [carrito]="carro"></app-carrito>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" size-md="5">
            <ion-card>
                <ion-card-content>
                    <p>{{(articulosFirebase|async)?.nombre}}</p>
                    <ion-img [src]="(articulosFirebase|async)?.imagen"></ion-img>
                   
                </ion-card-content>
                
            </ion-card>
        </ion-col>
        <ion-col size="12" offset-md="1" size-md="2">
            <h2>Comprar {{(articulosFirebase|async)?.nombre}}</h2>
            <p>${{(articulosFirebase|async)?.precio}}</p>
        </ion-col>
        <ion-col size="12" offset-md="1" size-md="2">
            <p>Entrega <strong>GRATIS</strong> hoy </p>
            <ion-list>
                <ion-item>
                  <ion-select interface="popover" placeholder="Cantidad" (ionChange)="seleccionarCantidad($event)">
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
              <p>Vas a agregar<strong> {{cantidad}}</strong></p>
            <ion-button shape="round" color="tertiary" (click)="agregarCarrito()">
                Agregar al carrito
                
            </ion-button>
            <ion-button shape="round" color="warning">
                Comprar ya
                
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <h2>Reviews</h2>
            <p class="review" *ngFor="let review of (articulosFirebase|async)?.reviews">
                {{review}}
            </p>
        </ion-col>
    </ion-row>
</ion-grid>