<body>
  <div class="lottie-container" id="lottieContainer"></div>

  <div class="contenedor">
    <div *ngIf="logueado; else cargando">
      <div class="card-container">
        <ion-card mode="ios" color="">
          <ion-card-title>
            Usuario con sesión
          </ion-card-title>
          <ion-item>
            <img [src]="imgUrl || 'assets/imagenes/perfil.json'" class="imagen-perfil">
          </ion-item>
          <div>
            <ion-card-content>
              <p>EMAIL: {{usuario.email}}</p> 
              <p>USUARIO: {{usuario.displayName}}</p>
            </ion-card-content>
          </div>
        </ion-card>
        <ion-button href="/editar">Editar datos del usuario</ion-button>
      </div>
    </div>
  </div>

  <ng-template #cargando>
    <div class="container">
      <!-- Resto del código HTML del componente -->
      <div class="imagen-perfil">
        <img [src]="imgUrl" alt="Foto de perfil">
      </div>
      <!-- Resto del código HTML del componente -->
    </div>
  </ng-template>
</body>
