body {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}

.contenedor {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.lottie-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: purple;
  z-index: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imagen-perfil {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .card-container {
    padding: 10px;
  }

  .imagen-perfil {
    width: 100px;
    height: 100px;
  }
}
