<div class="contenedor">
  <div *ngIf="logueado; else cargando">
    <div>
      <ion-card mode="ios" color="">
          <ion-item>
            
          <img src="assets/imagenes/perfil.png"  width="200px" height="200px">
          <ion-card-title>
            Usuario con sesion
          </ion-card-title>
        </ion-item>
          <div>
        
        
      
      
        <ion-card-content>
      
          
         <p>EMAIL:{{usuario.email}}</p> 
          <p>USUARIO : {{usuario.displayName}}</p>
        </ion-card-content>
      
      </div>
    </ion-card>
    
      <ion-button href="/editar">Editar datos del usuario</ion-button>
    
    </div>
  </div>
  <!---ion-card>
    
    <ion-card-content>
      <img src="/assets/imagenes/perfil.png" class="card-img-top img-fluid" width="200px" height="200px">
    </ion-card-content>
  </ion-card!--->
  
  <ng-template #cargando>
      <div class="container">
          <img src="../../assets/imagenes/perfil.png" style="max-width: 400px; max-height: 600px;">
      </div>
  </ng-template>
</div>

