<div class="contenedor">
    <form #formRegistro="ngForm">
      <ion-item>
        <label>Email: </label>
        <input type="email" name="cajamail" #cajamail placeholder="Email" class="form-control">
      </ion-item>
  
      <ion-item>
        <label>Contraseña: </label>
        <input type="password" name="cajapassword" #cajapassword placeholder="****" class="form-control" minlength="6" maxlength="20" pattern="[A-Za-z0-9]{6,20}">
      </ion-item>
  
      <ion-button slot="center" class="btn btn-success" color="dark" (click)="registro()">
        Registrar
      </ion-button>
    </form>
  </div>
  