<ion-app mode="ios">
  
  <app-menu></app-menu>   
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Electronics Store
        </ion-title>
        <ion-buttons slot="end">
          <ion-button class="boton" routerLink="/carrito">
            <ion-icon name="car"></ion-icon>
            Carrito
          </ion-button>
          <ion-button class="boton1" routerLink="/perfil">
            <ion-icon name="person-circle-outline"></ion-icon>
            Perfil
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    
          <ion-content color="light" class="ion-padding">
            
         
           <router-outlet></router-outlet>
          </ion-content>
          
    </div>
</ion-app>