<ion-app>
  <ion-menu type="reveal" content-id="main-content">
      <ion-header>
      <ion-toolbar color="danger">
          <ion-title>Contenido del menu</ion-title>
      </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
          <ion-item button>
              <ion-icon slot="start" name="trophy"></ion-icon>
              <ion-label>Hola</ion-label>
          </ion-item>
        </ion-content>
      
  </ion-menu>
  <div class="ion-page" id="main-content">
      <ion-header>
          <ion-toolbar>
              <ion-toolbar color="dark">
                  <ion-buttons slot="start">
                  <ion-menu-button></ion-menu-button>
                  </ion-buttons>
                  <ion-title>Mi carrito de compras</ion-title>
              </ion-toolbar>
          </ion-toolbar>
      </ion-header>
      
      <ion-content color="light" class="ion-padding">
      <!---app-articulos></app-articulos!_-->
      <router-outlet></router-outlet>

      </ion-content>
      
      <ion-footer>
      <ion-toolbar color="dark">
          <ion-title>Pie de pagina</ion-title>
      </ion-toolbar>
      </ion-footer>
  </div>
</ion-app>