ion-header {
  background-color: #f8f8f8;
}

ion-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-title {
  font-size: 1.2rem;
  font-weight: bold;
}

ion-buttons {
  display: flex;
  align-items: center;
}

ion-button {
  margin-left: 10px;
}

@media (max-width: 576px) {
  ion-title {
    font-size: 1rem;
  }

  ion-button {
    font-size: 0.8rem;
    margin-left: 5px;
  }
}
