<ion-grid>
  <ion-row>
      <ion-col>
          
         
       

      
      </ion-col>
  </ion-row>
  <ion-row>
      
    <ng-container *ngFor="let articulo of articulosFirebase | async">
        <ion-col size="12" size-md="3" *ngIf="articulo.categoria == categoria">
          <ion-card>
              <ion-card-header class="header">
                
                  <p>{{articulo.nombre}}</p>
                  
                       
                       
                         
                      
                 

                  
                  
                  
              </ion-card-header>
              <ion-card-content>
                  
                  <a [routerLink]="['/detalle', articulo.id]">
                      <img [src]="articulo.imagen" alt="{{articulo.nombre}}">
                  </a>
                  <p class="precio">${{articulo.precio}}</p>
                  
                  
                  
                   
                     
                   
                   
                        
                            <!--ion-icon name="cart-sharp"></ion-icon!-->
                            
                         
                        <!---ion-button (click)="decrease.emit()">
                            
                            <ion-icon slot="icon-only" name="remove"></ion-icon>
                          </ion-button--->
                  
                   
                       
                      
                   
                  
              </ion-card-content>
             
          </ion-card>
      </ion-col>
     </ng-container>
  </ion-row>
 
</ion-grid>