
    <ion-grid>        
        <ion-row>
            <ion-col size="12" size-lg="3" size-md="4" size-sm="6" >
                <p>Computadora 2</p>
                <img src="assets/imagenes/computadora2.jpg" alt="">
                <ion-button>Agregar al Carrito</ion-button>
            </ion-col>
            <ion-col >
                <p>Vestido</p>
                <img src="assets/imagenes/vestido.jpg" alt="">
                <ion-button>Agregar al Carrito</ion-button>
            </ion-col>
            <ion-col  >
                <p>Camisa</p>
                <img src="assets/imagenes/camisa.jpg" alt="">
                <ion-button>Agregar al Carrito</ion-button>
            </ion-col>
            <ion-col>
                <p>Tennis</p>
                <img src="assets/imagenes/tenis1.jpg" alt="">
                <ion-button>Agregar al Carrito</ion-button>
            </ion-col>
        </ion-row>

    </ion-grid>
    

   
    

