<ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Categorias</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-menu-toggle>
        <ion-button href="/articulos/Laptop"><ion-icon name="bag-handle"></ion-icon>Articulos en general</ion-button>
        <ion-button href="/articulos/Laptop"><ion-icon name="laptop"></ion-icon>Laptops</ion-button>
        <ion-button href="/articulos/Computadora de escritorio"><ion-icon name="logo-windows"></ion-icon>Computadoras de escritorio</ion-button>
        <ion-button href="/articulos/Television"><ion-icon name="tv"></ion-icon>Television</ion-button>
        <ion-button href="/articulos/Telefonos moviles"><ion-icon name="phone-portrait"></ion-icon>Telefonos moviles</ion-button>
        <ion-button href="/administrador"><ion-icon name="person"></ion-icon>Administrador</ion-button>
        <ion-button href="/carrito"><ion-icon name="cart"></ion-icon>Carrito de compras</ion-button>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>